<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Studio</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<h1>Hello AI Studio</h1>
<div id="app">
    <h1>普通文本识别</h1>
    <el-upload
            class="upload-demo"
            action="http://127.0.0.1:8080//pic"
            :on-success="handlePicSuccess">
        <el-button size="small" type="primary">点击上传</el-button>
        <div slot="tip" class="el-upload__tip">只能上传图片文件，且不超过500M</div>
    </el-upload>
    <el-input
            type="textarea"
            :rows="5"
            placeholder="请输入内容"
            v-model="words">
    </el-input>
    <h1>图像识别</h1>
    <el-upload
            class="upload-demo"
            action="http://127.0.0.1:8080//img"
            :on-success="handleImgSuccess">
        <el-button size="small" type="primary">点击上传</el-button>
        <div slot="tip" class="el-upload__tip">只能上传图片文件，且不超过500M</div>
    </el-upload>
    <el-input
            type="textarea"
            :rows="5"
            placeholder="请输入内容"
            v-model="imgRecognition">
    </el-input>
    <h1>NLP 纠错</h1>
    <el-input
            type="textarea"
            :rows="5"
            placeholder="请输入内容"
            v-model="nlp_input">
    </el-input>
    <el-input
            type="textarea"
            :rows="5"
            placeholder="请输入内容"
            v-model="nlp_output">
    </el-input>
    <el-button type="primary"@click="nlp_correction">提交NLP</el-button>


</div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            url: '',
            words: '',
            imgRecognition:'',
            nlp_input:'',
            nlp_output:''
        },
        methods: {
            handlePicSuccess(res,file){
                console.log(res);
                console.log(file);
                this.words=res;
            },
            handleImgSuccess(res,file){
                console.log(res);
                console.log(res.log_id);
                console.log(res.result);
                this.imgRecognition=JSON.stringify(res.result);
            },
            nlp_correction(){
                axios.get("http://127.0.0.1:8080/correction",{
                    params:{
                        text:this.nlp_input
                    }
                }).then(res=>{
                    this.nlp_output = res.data;
                    console.log(res.data);
                })
            }
        }
    })
</script>
</html>